.h-100{
    height:100vh;
}
.img-s20{
 width: 20px;
}
.selectInput{
    width:100%;
    margin-top:0px;
    margin-bottom: 0px;
}
.vertical-table {
    display: table;
    height: 100%;
    width: 100%;
}
.vertical-table .vertical-table-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.centered {
    margin: 0 auto;
    width: 440px;
}
.messages {
    background-color: #fff;
    font-weight: bold;
    padding: 10px;
}
.messages, .messages-small {
    border-radius: 4px;
}
.is-not-visible {
    visibility: hidden;
}
.sign-in, .claim-account {
    background-color: #f2f3f8;
    border: 1px solid #2c4484;
    margin: 20px 0 40px;
    padding: 15px 30px;
    height: auto;
    min-height: 400px;
    max-height: 500px;
}
.sign-in .header {
    min-height: 0px;
    border: 1px solid #888;
    color: #888;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0 20px;
    padding: 10px 0;
    box-shadow: 0 0 3px #9a9a9a;
}
.login_logo img {
    height: auto;
    max-height: 200px;
    max-width: 50%;
    width: auto;
}
label {
    display: block;
    font-weight: bold;
    margin: 0;
    text-align: left;
}
.textfield {
    box-sizing: border-box;
    font-size: 16px;
    height: 24px;
    margin: 3px 0 15px;
    width: 100%;
}
.primary-themed a {
    color: #106bb1;
}
.sign-in .form-control {
    font-size: 1rem;
    line-height: 0.25;
    color: #2c304d;
    border: 1px solid #767676;
    border-radius: 0;
    padding: 0.6rem 1rem;
}
.selectInput{
    min-width: 347px;
}
.Login_footer{
   margin-left: -8%;
}
.Login_footer li{
   list-style: none;
   background: #fff;
   float: left;
   padding-right: 2%;
   padding-left:2%;
}
.Login_footer li a{
   color: #106bb1;
   font-size: 12px;
   font-weight: 500;
}
.border_right{
   border-right: 1px solid #095def;
}
.bg-null{
    background: #fff;
    border:1px solid #3333338c;
    border-left: 0;
}
.Devider_line{
   border-top: 1px solid #095def;
   width: 50%;
}