.border1{
    border: 1px solid #cccccc !important;
}
.border1 > iframe{
    border: 0px !important;
    border-right: 1px solid gray !important;
}


/* fm menu */
ul .fm_menu li{
    width: 33%;
    text-align: center;
    background: #ccc;
    padding: 5px 0px;
}